.leftTable{
    z-index:0;
}

.rightTable{
    z-index:0;
    background-color:white;
    border:5px solid rgba(0, 0, 0, .5);
}

/*오른쪽 테이블에 1번째 row = rt1Row*/
.rt1Row{
    border:5px solid rgba(0, 0, 0, .5)
}

.lt3Row{
    border-left:hidden;
    border-bottom:hidden;
}

.lt2Row2Col{
    border:5px solid rgba(0, 0, 0, .5);
}

.lt2Row1Col{
    border:5px solid rgba(0, 0, 0, .5);
}

.lt1Row1Col{
    border:5px solid rgba(0, 0, 0, .5);
}

.lt1Row2Col{
    border:5px solid rgba(0, 0, 0, .5);
}