.leftTable{
    z-index:0;
}

.rightTable{
    z-index:0;
    border:2px solid rgba(0, 0, 0, .5);
    margin-top:10px;
}

/*오른쪽 테이블에 1번째 row = rt1Row*/
.rt2Row1Col{
    border:2px solid rgba(0, 0, 0, .5);
}
.rt2Row2Col{
    border:2px solid rgba(0, 0, 0, .5);
}

.rt3Row1Col{
    border:2px solid rgba(0, 0, 0, .5);
}


#left1{
    float: left;
    width: 59%;
}
#right1{
   float: right;
   width: 40%;
}

#left2{
    float: left;
    width: 49%;
}
#right2{
   float: right;
   width: 49%;
}

/*반응형 디자인*/
@media screen and (max-width: 940px) {

        body {
            background-color: lightgreen;
        }

        #left1 {
          display :none;
        }
         #right1 {
          width: 100%;
        }

        #left2 {
          width: 100%;
        }

        #right2 {
          width: 100%;
        }
}
