/*테이블 실선 시작*/
table
{
border:1px solid black;
border-collapse:collapse;
}
td, th
{
border:1px solid black;
}
/*테이블 실선 끝*/

/*테이블 스크롤기능 구현!!*/
<style>
.table-wrapper {
    overflow: auto;
    border:2px solid red;
}
</style>
/*테이블 스크롤기능 구현 끝*/