{% load static %}
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<header>
    
<!-- 로그인 되어 있는 경우 -->
{% if user.is_active %}
    <p class="text-center" style="color:aliceblue">{{ user.nickname }}님, 환영합니다!</p>
<!-- 로그인 되어 있지 않은 경우 -->
{% else %}
    <p class="text-center" style="color:aliceblue">더 많은 기능을 이용하시려면 로그인 해주세요!</p>
{% endif %}

 <div class="header-wrapper"  style="background: rgba(0,0,0,0.4)">
        <div class="header-contents" >
            <!-- 타이틀 -->
            <img src="{% static 'travel/img/logo_transparent.png' %}" style="width:100px">

            <!-- 상단 메뉴 && 모바일 메뉴 -->
            <div class="nav-bar">
                <ul>
                    <li>
                        <a class="a-nav-bar" onClick="#" style="color: white">About</a>
                    </li>
                    <li>
                        <a class="a-nav-bar" onClick="#" style="color: white">My page</a>
                    </li>
                     <!-- 로그인 되어있는 경우 -->
        {% if user.is_active %}
        <li>
            <v-layout wrap justify-center>
                <v-btn
                  color="pink"
                  dark
                  @click.stop="logout()"
                >
                LogOut
                </v-btn>
        </li>
        <!-- 로그인 되어있지 않은 경우 -->
        {% else %}
        <li>
        <div id="app">
        <v-layout>

                <v-btn
                  color="pink"
                  dark
                  @click="dialog = true"
                >
                  LogIn
                </v-btn>
                <!-- Login modal -->
                <v-dialog
                  v-model="dialog"
                  max-width="600px"
                >
                  <v-card>
                    <v-card-title class="headline">LogIn</v-card-title>
                    <v-form
                      ref="form"
                      v-model="valid"
                      :lazy-validation="lazy"
                    >
                      <v-text-field
                        v-model="email"
                        :rules="emailRules"
                        label="E-mail"
                        required
                      ></v-text-field>

                      <v-text-field
                        v-model="password"
                        :rules="passwordRules"
                        label="Password"
                        required
                      ></v-text-field>
                      <v-card-text>
                        로그인 하시면 더 많은 기능을 이용하실 수 있습니다^_^<br>
                        카카오 로그인<br>
                        구글 로그인
                      </v-card-text>
              
                      <v-card-actions>
                        <v-spacer></v-spacer>
              
                        <v-btn
                          color="pink"
                          flat="flat"
                          @click="showSignup()"
                        >
                          SignUp
                        </v-btn>
              
                        <v-btn
                          color="pink"
                          flat="flat"
                          @click="dialog = false"
                        >
                        Submit
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>

                <!-- Signup modal -->
                <v-dialog
                  v-model="dialog2"
                  max-width="600px"
                >
                  <v-card>
                    <v-card-title class="headline">SignUp</v-card-title>
                    <v-form
                      ref="form"
                      v-model="valid"
                      :lazy-validation="lazy"
                    >
                    <v-card-text>
                        <v-container grid-list-md>
                          <v-layout wrap>
                            <v-flex xs12 sm6 md4>
                              <v-text-field label="Nickname*" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                              <v-text-field label="Legal middle name" hint="example of helper text only on focus"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                              <v-text-field
                                label="Legal last name*"
                                hint="example of persistent helper text"
                                persistent-hint
                                required
                              ></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                              <v-text-field label="Email*" required></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                              <v-text-field label="Password*" type="password" required></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6>
                              <v-select
                                :items="['0-17', '18-29', '30-54', '54+']"
                                label="Age*"
                                required
                              ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6>
                              <v-autocomplete
                                :items="['Skiing', 'Ice hockey', 'Soccer', 'Basketball', 'Hockey', 'Reading', 'Writing', 'Coding', 'Basejump']"
                                label="Interests"
                                multiple
                              ></v-autocomplete>
                            </v-flex>
                          </v-layout>
                        </v-container>
                        <small>*indicates required field</small>
                      </v-card-text>

                      <v-card-text>
                        저희 사이트의 회원이 된 것을 환영합니다^_^
                      </v-card-text>
              
                      <v-card-actions>
                        <v-spacer></v-spacer>
              
                        <v-btn color="pink" flat @click="dialog2 = false">Close</v-btn>
                        <v-btn color="pink" flat @click="dialog2 = false">Save</v-btn>

                    </v-card-actions>
                  </v-card>
                </v-dialog>

              </v-layout>
            </div>
          </li>
        {% endif %}
                </ul>
            </div>
        </div>
    </div>
       

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script>
    new Vue({ 
        el: '#app',
        data: {
            dialog: false,
            dialog2: false,
        },
        // login & logout 기능
        methods: {
          showSignup: function() {
            this.dialog = false;
            this.dialog2 = true;
          }
        }
    })
</script>
<!-- {% include 'accounts/SignUp.html' %} -->